<%- include ('partials/header') %>

<body>
    <%- include ('partials/navbar') %>

    <br>
    <div class="row">
        <div class="col-sm-6" id="conteudo">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Pod (Simples):</h5>
    <br>


</script>

    <b>apiVersion:</b> <%= apiversion %> <br>
    <b>kind:</b> <%= kind %> <br>
    <b>metadata:</b><br>
    &nbsp;&nbsp;<b>name:</b> <%= name %> <br>
    <b>spec:</b><br>
    &nbsp;&nbsp;<b>container:</b><br>
    &nbsp;&nbsp;&nbsp;<b>- image:</b> <%= imag %><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>name:</b> <%= nimag %><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ports:</b><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>- containerport:</b> <%= cport %><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>name:</b> <%= ncont %><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>protocol:</b> <%= prot %><br>
    <br>

 
            </div>
        </div>
    </div>


<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pod</h5>
        <p class="card-text">Um pod representa um conjunto de containers de aplicação e volumes executando no mesmo ambiente.<br>
             Os Pods - e não os containers - são o menor artefato possível de implantação em um cluster Kubernets.</p>
      </div>
    </div>
  </div>
</div>
    
</body>
<%- include ('partials/footer') %>